* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #111061;
  color: #f3f5f7;
  scroll-behavior: smooth;
}

img {
  margin-top: 2rem;
  margin-right: 4rem;
  border-radius: 50%;
  margin-bottom: 0%;
  
}

header {
  background: #8803ee;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.left {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ff6f61;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.section {
  padding: 4rem 2rem;
  text-align: center;
}
.section_about{
  margin-top: 10 rem;
  margin-left: 2rem;
  text-align: left;
}
.section_home{
  margin-top: 10 rem;
  margin-left: 2rem;
  text-align: left;

}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.skill-card {
  background: #16aeff;
  font-weight: bold;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 2rem;
  background: #333;
  color: #fff;
  margin-top: 4rem;
}

#contact-links button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #3282B8;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#contact-links button:hover {
  background-color: #0F4C75;
}

/* Responsive */

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .skill-list {
    flex-direction: column;
  }
}
